.attribution {
  position: absolute;
  bottom: 1vh;
  font-size: 11px;
  text-align: center;
  color: #848794;
}

.attribution a {
  color: #dddbff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.2px;
}

.background {
  position: fixed;
  background-image: url(../assets/images/bg-mobile.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 1024px) {
  .background {
    height: 100%;
    bottom: 0;
    background-color: #0c122c;
    background-image: url(../assets/images/bg-desktop.png);
    background-size: 100% 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
  }
}

.component {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 48px);
  margin: 0 24px 0 24px;
}

@media (min-width: 768px) {
  .component {
    width: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .component {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    max-width: 920px;
    margin: 0;
  }
}

.component__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-width: 300px;
  max-width: 376px;
  height: 200px;
  margin-bottom: 16px;
  padding: 40px;
  border-radius: 10px 100px 10px 10px;
  background-color: #1d2c67;
  -webkit-box-shadow: 0 12px 24px 24px rgba(12, 18, 44, 0.125);
          box-shadow: 0 12px 24px 24px rgba(12, 18, 44, 0.125);
}

@media (min-width: 768px) {
  .component__main {
    max-width: 350px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .component__main {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.main__panel-logo {
  width: 135;
  height: 40px;
  margin-bottom: 32px;
}

.main__panel-logo svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 42px;
}

.main__panel-logo svg path {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.main__panel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
}

.panel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  border-radius: 10px;
  background-color: #0c122c;
  -webkit-box-shadow: 2px 2px 4px rgba(12, 18, 44, 0.1);
          box-shadow: 2px 2px 4px rgba(12, 18, 44, 0.1);
  cursor: pointer;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

.panel-buttons svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.panel-buttons svg path {
  -webkit-transition: fill 400ms;
  transition: fill 400ms;
}

.panel-buttons:hover {
  background-color: #697ED4;
}

.panel-buttons:hover svg {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.panel-buttons:hover svg path {
  fill: #0c122c;
}

@media (min-width: 411px) {
  .panel-buttons {
    margin-right: 24px;
  }
}

@media (min-width: 768px) {
  .panel-buttons {
    margin-right: 16px;
  }
}

.component__storage {
  position: relative;
  width: 100%;
  height: 160px;
  min-width: 300px;
  max-width: 376px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dddbff;
  background-color: #1d2c67;
  border-radius: 10px;
  -webkit-box-shadow: 0 12px 24px 24px rgba(12, 18, 44, 0.125);
          box-shadow: 0 12px 24px 24px rgba(12, 18, 44, 0.125);
}

@media (min-width: 768px) {
  .component__storage {
    height: 200px;
    margin-bottom: 0;
    width: 500px;
    max-width: none;
  }
}

@media (min-width: 1024px) {
  .component__storage {
    height: 160px;
    width: 100%;
    max-width: 540px;
    padding: 40px;
  }
}

.component__storage-title {
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
}

.component__storage-title b {
  font-weight: 700;
}

@media (min-width: 768px) {
  .component__storage-title {
    text-align: left;
  }
}

.component__storage-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px;
  padding: 2px;
  margin-bottom: 10px;
  background-color: #0c122c;
  -webkit-box-shadow: 2px 2px 4px rgba(12, 18, 44, 0.5);
          box-shadow: 2px 2px 4px rgba(12, 18, 44, 0.5);
  overflow: hidden;
  border-radius: 12px;
}

@media (min-width: 1024px) {
  .component__storage-bar {
    margin-bottom: 8px;
  }
}

.storage-bar--percentage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #34132E;
  opacity: 0;
  /* width: calc(100% - 18.5%); */
  width: 0;
  height: 100%;
  padding: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  background-size: 100%;
  border-radius: 12px;
  -webkit-transition: opacity 600ms, width 600ms;
  transition: opacity 600ms, width 600ms;
}

.storage-bar--circle {
  width: 12px;
  height: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.04);
          box-shadow: 0 2px 4px rgba(255, 255, 255, 0.04);
  border-radius: 50%;
}

.component__storage-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 20px;
  font-size: 12px;
}

.storage-indicators--min {
  display: inline-block;
  text-align: left;
  font-weight: 700;
}

.storage-indicators--max {
  display: inline-block;
  text-align: right;
  font-weight: 700;
}

.component__storage-label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 72px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 13px;
  color: #848794;
}

.component__storage-label b {
  font-size: 40px;
  margin-right: 8px;
  margin-bottom: 6px;
  color: #0c122c;
}

@media (min-width: 1024px) {
  .component__storage-label {
    top: -48px;
    right: 30px;
  }
}

.storage-label__pointer {
  display: none;
}

@media (min-width: 1024px) {
  .storage-label__pointer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
  }
}
/*# sourceMappingURL=index.css.map */