$gradient: (
    light: rgb(255, 163, 153),
    dark: rgb(255, 77, 151)
);

$colors : (
    pale-blue: #dddbff,
    grayish-blue: #848794,
    dark-blue: #1d2c67,
    very-dark-blue: #0c122c,
    very-dark-blue-transparent: rgba(12, 18, 44, 0.55)
);

$font-sizes : (
    body: 14px,
    label: 13px,
    label-bold: 40px,
    indicator: 12px
)

